body{
			font-family: Verdana;
			font-size: 100%;
			line-height: 1.25em;
		}
		
		header{
			width: 100%;
			padding: 10px;
			background: #219D18;
			color: white;
			text-align: center;
		}
	
		.nav{
			height: 300px;
			line-height: 35px;
			width: 80px;
			padding: 5px;
			background: #D1D1D1;
			font-weight: bold;
			float: left;
		}
	
		a:link{
			color: #034427;
			text-decoration: none;
		}
		
a:visited {
	color:#06729E;
	text-decoration: none;
}
a:hover {
	color:#A533AC;
	text-decoration: underline;
}
a:active {
	color: #F40509;
	text-decoration: none;
}


		.boxes{
			width: 350px;
			padding: 10px;
			text-align: left;
			float: left;	
		}
	
		footer{
			width: 100%;
			height: 50px;
			padding: 5px;
			background: #000000;
			color: white;
			clear: both;
			text-align: center;
		}